@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Press+Start+2P&family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(228, 207, 150, 0.3960784314);
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.content {
  max-width: 1350px;
  margin: 0 auto;
  min-height: 100vh;
}

.header__wrapper {
  display: flex;
  background-color: #edd89d;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #f0d078;
  border-radius: 0px 0px 10px 10px;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    justify-content: space-between;
  }
  .header__wrapper .header__burger-btn {
    margin: -10px 0px 0px 20px;
  }
  .header__wrapper.open .header__wrapper__nav {
    transform: translateX(0%);
  }
  .header__wrapper.open .header__burger-btn {
    margin: -10px 0px 0px 20px;
    position: fixed;
  }
  .header__wrapper.open .header__burger-btn span {
    background-color: #fa6502;
  }
  .header__wrapper.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .header__wrapper.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
  }
  .header__wrapper.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
}
@media screen and (max-width: 1350px) {
  .header__wrapper {
    border-radius: 0%;
  }
}
.header__wrapper .header__burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  display: none;
  z-index: 2;
  background-color: transparent;
  margin-left: 20px;
}
.header__wrapper .header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__wrapper .header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__wrapper .header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
@media screen and (max-width: 768px) {
  .header__wrapper .header__burger-btn {
    display: block;
  }
}
.header__wrapper .header__wrapper__logo {
  margin-left: 20px;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .header__wrapper .header__wrapper__logo {
    margin-right: 20px;
  }
}
.header__wrapper .header__wrapper__logo span {
  color: #fa6502;
  font-family: "Press Start 2P", cursive;
  font-size: 35px;
}
.header__wrapper .header__wrapper__logo span span {
  font-size: 25px;
}
.header__wrapper .header__wrapper__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrapper .header__wrapper__nav .menu__box {
  display: flex;
  justify-content: flex-start;
}
.header__wrapper .header__wrapper__nav .menu__box li {
  margin-right: 100px;
  list-style-type: none;
}
.header__wrapper .header__wrapper__nav .menu__box li a:hover {
  color: #666;
}
.header__wrapper .header__wrapper__nav .menu__box li a:active {
  color: #fa6502;
}
@media screen and (max-width: 768px) {
  .header__wrapper .header__wrapper__nav {
    position: fixed;
    display: block;
    transform: translate(-100%);
    top: 0;
    background-color: #ddc993;
    padding: 100px 20px 20px 20px;
    height: 100vh;
    width: 100%;
    transition: transform 0.5s;
    text-align: center;
  }
  .header__wrapper .header__wrapper__nav .menu__box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header__wrapper .header__wrapper__nav .menu__box li {
    margin-right: 0px;
  }
  .header__wrapper .header__wrapper__nav .menu__box li a {
    color: #000;
    display: block;
    padding: 30px 40px;
    font-size: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__wrapper .header__wrapper__nav {
    width: 100%;
    display: block;
    text-align: center;
  }
  .header__wrapper .header__wrapper__nav .menu__box {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }
  .header__wrapper .header__wrapper__nav .menu__box li {
    margin-right: 0px;
  }
}

main.active {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  main.active {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  main.active {
    display: flex;
    flex-direction: column;
  }
}
main .main__gameMode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
}
main .main__gameMode p {
  font-family: "Press Start 2P", cursive;
  margin-bottom: 60px;
  font-size: 20px;
}
@media (min-width: 321px) and (max-width: 500px) {
  main .main__gameMode p {
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  main .main__gameMode p {
    font-size: 15px;
    text-align: center;
  }
}
main .main__gameMode__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  main .main__gameMode__btns {
    flex-direction: column;
  }
  main .main__gameMode__btns span {
    margin: 40px 40px;
  }
}
main .main__gameMode__btns button {
  width: 250px;
  height: 150px;
  border-radius: 20%;
  font-size: 20px;
  overflow: hidden;
  border: 1px solid #f0d078;
  background-color: #edd89d;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  box-shadow: 0px 9px rgba(237, 216, 157, 0.5882352941);
}
main .main__gameMode__btns button:active {
  background-color: #f5731d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
main .main__gameMode__btns span {
  margin: 0px 40px;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}
@media (max-width: 768px) {
  main .main__gameMode__btns {
    flex-direction: column;
  }
  main .main__gameMode__btns span {
    margin: 40px 40px;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  main .main__gameMode__btns input {
    width: 200px;
    height: 100px;
  }
  main .main__gameMode__btns .notifications {
    font-size: 10px;
  }
}
main .main__gameSection {
  display: none;
}
main .main__gameSection.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 90vh;
}
main .main__gameSection .turnChecker {
  font-size: 20px;
  padding: 0px 15px 20px 15px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
main .main__gameSection .mainInput {
  width: 250px;
  height: 45px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #000;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
  outline: none;
}
main .main__gameSection .notifications {
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 30px;
  max-width: 60%;
}
main .main__gameSection textarea {
  resize: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
  line-height: 30px;
  border: 1px solid #000;
}
@media screen and (max-width: 768px) {
  main .main__gameSection textarea {
    max-width: 80%;
  }
  main .main__gameSection .notifications {
    max-width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  main .main__gameSection textarea {
    max-width: 80%;
  }
  main .main__gameSection .notifications {
    max-width: 70%;
  }
}
main .main__countriesDetails {
  display: none;
  flex: 1;
  flex-wrap: wrap;
}
main .main__countriesDetails.active {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
main .main__countriesDetails p {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding: 0px 15px 15px 15px;
  text-align: center;
}
main .main__countriesDetails .countries__info {
  min-width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}
main .main__countriesDetails .countries__info::-webkit-scrollbar {
  display: none;
}
main .main__countriesDetails .countries__info .countryDetails__info {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
  margin: 0px 15px 10px 70px;
}
@media (max-width: 320px) {
  main .main__countriesDetails .countries__info .countryDetails__info {
    line-height: 20px;
  }
}
main .main__countriesDetails .countries__info .countryDetails__info .flagPic {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
main .main__countriesDetails .countries__info .countryDetails__info p {
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}
@media (min-width: 320px) and (max-width: 500px) {
  main .main__countriesDetails .countries__info .countryDetails__info p {
    font-size: 15px;
    padding: 0px 15px;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  main .main__countriesDetails .countries__info .countryDetails__info p {
    padding: 0px 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  main .main__countriesDetails .countries__info .countryDetails__info {
    margin: 0px 15px 10px 20px;
  }
}
main .rule__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: "Press Start 2P", cursive;
  padding: 20px;
}
main .rule__wrapper .rule__text {
  text-align: left;
  line-height: 30px;
}
main .rule__wrapper .rule__text h1 {
  text-align: center;
}
main .rule__wrapper .rule__text p {
  margin-top: 15px;
}
main .rule__wrapper .rule__text p:nth-child(2) {
  margin-top: 50px;
}
main .rule__wrapper .rule__text p:nth-child(n+6) {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  main .rule__wrapper {
    height: auto;
  }
  main .rule__wrapper .rule__text h1 {
    font-size: 20px;
  }
  main .rule__wrapper .rule__text p {
    font-size: 10px;
  }
}

.playersInfo {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.playersInfo .playerInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.playersInfo .playerInfo div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.playersInfo .playerInfo div h3 {
  margin-bottom: 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
}
.playersInfo .playerInfo div input {
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  border: none;
  color: #000;
  font-family: "Press Start 2P", cursive;
}
.playersInfo .playerInfo div input::-moz-placeholder {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}
.playersInfo .playerInfo div input::placeholder {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  .playersInfo .playerInfo {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .playersInfo .playerInfo div {
    margin-bottom: 50px;
  }
  .playersInfo .playerInfo div h3 {
    font-size: 15px;
    text-align: center;
  }
}
.playersInfo button {
  width: 180px;
  height: 100px;
  border-radius: 20%;
  font-size: 15px;
  overflow: hidden;
  border: 1px solid #f0d078;
  background-color: #edd89d;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  box-shadow: 0px 9px rgba(237, 216, 157, 0.5882352941);
}
.playersInfo button:active {
  background-color: #f5731d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*# sourceMappingURL=style.css.map */